*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/gradle.xml
/.idea/misc.xml
/.idea/deploymentTargetSelector.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.fex-emu/
.DS_Store
/third_party
/app/src/main/jniLibs/arm64-v8a
/build
/captures
.externalNativeBuild
.cxx
local.properties
AGENTS.md
third_party/FEX
